<footer>
  <div class="border-top-1 surface-border">

    <div class="block-content">
      <div class="grid grid-nogutter surface-section px-4 py-4 md:px-6 lg:px-8 border-top-1 surface-border">
        <div class="col-12 lg:col-6 lg:border-right-1 surface-border"><img src="assets/images/logo.png"
                                                                           alt="Peak logo"
                                                                           class="w-9rem mx-auto lg:mx-0"><span
          class="text-900 block mt-4 mr-3">Nous pouvons vous épauler dans la constitution de vos dossiers de certification en sous-section 3 Amiante, mais également pour une qualification dans tout autre domaine.</span><span
          class="text-500 block mt-4">© 2022, ANFR.</span></div>
        <div class="col-12 md:col-6 lg:col-3 mt-4 lg:mt-0 lg:pl-4 flex flex-column"><span
          class="text-900 text-xl font-medium block">Entreprise</span>
          <ul class="list-none p-0">
            <li><a href="/missions" tabindex="0"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Missions</a></li>
            <li><a href="/formations" tabindex="0"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Formations</a>
            </li>
            <li><a href="/certifications" tabindex="0"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Certifications</a>
            </li>
            <li><a href="/references" tabindex="0"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Références</a></li>
          </ul>
        </div>
        <div class="col-12 lg:col-3 md:col-6 flex mt-4 lg:mt-0 lg:pl-4 flex-column"><span
          class="text-900 text-xl font-medium block">Contact</span>
          <ul class="list-none p-0">
            <li><a tabindex="0" href="/qui"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">259
              Rue St Honoré – 75001 PARIS</a></li>
            <li><a tabindex="0" href="/qui"
                   class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">06 72
              05 38 57</a></li>
            <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                   href="mailto:Contact.ANFR77@gmail.com" target="_blank" rel="noopener noreferrer">Contact.ANFR77@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="surface-900 py-6 lg:py-4 md:px-6 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
        <ul class="list-none p-0 mb-0 flex flex-column md:flex-row flex-order-1 lg:flex-order-0 mt-4 lg:mt-0">
          <li class="mr-4 mt-3 lg:mt-0"><a href="/qui" tabindex="0" class="cursor-pointer text-0">Data Privacy</a></li>
          <li class="mr-4 mt-3 lg:mt-0"><a href="/qui" tabindex="0" class="cursor-pointer text-0">Terms of Service</a>
          </li>
          <li class="mr-4 mt-3 lg:mt-0"><a href="/qui" tabindex="0" class="cursor-pointer text-0">Mentions légales</a>
          </li>
        </ul>
        <div class="flex align-items-center flex-order-0 lg:flex-order-1"><a tabindex="0" href="/qui"
                                                                             class="cursor-pointer mr-3 lg:mt-0 block"><i
          class="pi pi-facebook surface-section p-1 text-sm border-circle text-900"></i></a><a tabindex="0" href="/qui"
                                                                                               class="cursor-pointer mr-3 lg:mt-0 block"><i
          class="pi pi-twitter surface-section p-1 text-sm border-circle text-900"></i></a><a tabindex="0" href="/qui"
                                                                                              class="cursor-pointer mr-3 lg:mt-0 block"><i
          class="pi pi-youtube surface-section p-1 text-sm border-circle text-900"></i></a><a tabindex="0" href="/qui"
                                                                                              class="cursor-pointer lg:mt-0 block"><i
          class="pi pi-google surface-section p-1 text-sm border-circle text-900"></i></a></div>
      </div>
    </div>
  </div>
</footer>
