footer {
  font-size: 0.9rem;
  background-color: white;
  box-shadow: 2px 5px 10px 2px #333333;

  .footer-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
  }

  .footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
  }
}
