<div [ngClass]="{'quick-info-mobile': userAgentMobile}">
  <app-section-text-icon [icon]="'pi-sitemap'"
                         [text]="'Experts depuis plus de 10 ans nous intervenons dans vos entreprises pour vous apporter nos connaissances et notre savoir faire.'"
                         [title]="'Professionnels à votre écoute :'">
  </app-section-text-icon>
  <app-section-text-icon [icon]="'pi-users'"
                         [text]="'Un blabla assez long mais pas trop quand même. Il faut viser environ deux ou trois lignes pour que ça s\'affiche bien et que ça soit joli.'"
                         [title]="'Un deuxième blabla :'">
  </app-section-text-icon>
  <app-section-text-icon [icon]="'pi-key'"
                         [text]="'Un blabla assez long mais pas trop quand même. Il faut viser environ deux ou trois lignes pour que ça s\'affiche bien et que ça soit joli.'"
                         [title]="'Un troisième blabla :'">
  </app-section-text-icon>
</div>
