<div [ngClass]="{'quick-info-mobile': userAgentMobile}">
  <app-section-text-icon [icon]="'pi-sitemap'"
                         [text]="'Nos missions consistent à former les différents publics constituant les entreprises (encadrants techniques, encadrants de chantier et opérateurs de chantier) sur les connaissances spécifiques complémentaires suivant les besoins de l’entreprise.'"
                         [title]="'Nos missions :'">
  </app-section-text-icon>
  <div *ngIf="userAgentMobile" class="mb-6"></div>
  <app-section-text-icon [icon]="'pi-users'"
                         [text]="'Nos formations sont ciblées. Elles sont définies suivant les  besoins exprimés. En effet, bien trop souvent, suite à une formation initiale, les personnes formées ne savent pas mettre en  œuvre ce qu’elles ont appris. Même en ayant toutes les connaissances en tête, l’application dans le monde réel est difficile.'"
                         [title]="'Nos Formations :'">
  </app-section-text-icon>
  <div *ngIf="userAgentMobile" class="mb-6"></div>
  <app-section-text-icon [icon]="'pi-key'"
                         [text]="'Ayant une activité de travaux de désamiantage et d’intervention  sur les bâtiments pollués par l’amiante, le plomb en retrait mais également en intervention sur ces matériaux, il nous a été facile de définir les besoins immédiats en prenant en compte les difficultés du terrain.'"
                         [title]="'Nos références :'">
  </app-section-text-icon>
</div>
