header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  font-size: 0.9rem;
  background-color: white;
  box-shadow: 0 -3px 10px #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  a {
    align-self: center;
    height: 28px;

    button {
      text-transform: capitalize;
      color: #333333;
      background-color: white;
      border: none;
      vertical-align: sub;
    }

    &.selected {
      border: 1px solid var(--orange-500);
      border-radius: 5px;
      background-color: var(--orange-500);

      button {
        background-color: var(--orange-500);
        color: white;
      }
    }

    &:hover:not(.selected) {
      button {
        color: var(--orange-500);
        transition: ease-in-out 300ms;
      }
    }
  }

  &.header-mobile {

    .header-options-mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      width: 100%;
      z-index: 1;

      button {
        border: none;
        background: white;
        vertical-align: middle;
        height: 100%;

        i {
          font-size: 1.5rem;
        }
      }

      div {
        vertical-align: middle;
        margin-right: 20px;
        align-self: center;
      }
    }

    .header-options-popin {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: white;
    }

  }
}
