footer {
  font-size: 0.9rem;
  background-color: white;

  .part-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
  }

  a {
    text-decoration: none;
  }
}
