<div class="grid grid-nogutter surface-section text-800" [ngClass]="{'surface-section-mobile': userAgentMobile}">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">Agence Nationale</span>
      <div class="text-6xl text-primary font-bold mb-3">De Formations Courtes</div>
      <p class="mt-0 mb-4 text-700 line-height-3"></p>

      <div class="ml-3" [ngClass]="{'card-mobile': userAgentMobile}">
        <div class="d-flex row">
          <a href="/missions">
            <div
              class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
              <div class="flex flex-column align-items-center">
                <span class="pi pi-chart-bar"></span>
                <div class="name">
                  <b>Nos Missions</b>
                  <span>Coordination SPS</span>
                  <span>A.M.O Amiante - Plomb</span>
                </div>
              </div>
            </div>
          </a>
          <a href="/formations">
            <div
              class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center ml-5">
              <div class="flex flex-column align-items-center">
                <span class="pi pi-chart-bar"></span>
                <div class="name">
                  <b>Nos Formations</b>
                  <span>Formations initiales</span>
                  <span>Générales - Actualisation</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="d-flex row mt-5">
          <a href="/references">
            <div
              class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
              <div class="flex flex-column align-items-center">
                <span class="pi pi-chart-bar"></span>
                <div class="name">
                  <b>Nos Références</b>
                  <span>Maîtrise d'ouvrage générale bâtiment</span>
                </div>
              </div>
            </div>
          </a>
          <a href="/certifications">
            <div
              class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center ml-5">
              <div class="flex flex-column align-items-center">
                <span class="pi pi-chart-bar"></span>
                <div class="name">
                  <b>Nos Certifications</b>
                  <span>Datadock - Certibat</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden" *ngIf="!userAgentMobile">
    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/images/home.png"
         style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
  <div class="col-12 md:col-6 overflow-hidden" *ngIf="userAgentMobile">
    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/images/home.png">
  </div>
</div>
