<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">Agence Nationale</span>
      <div class="text-6xl text-primary font-bold mb-3">De Formations Courtes</div>
      <p class="mt-0 mb-4 text-700 line-height-3"></p>

      <div class="ml-3">
        <div class="d-flex row">
          <div
            class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center">
              <span class="pi pi-chart-bar"></span>
              <div class="name">
                <b>Notre Expertise</b>
                <span>Spectacular Designs</span>
              </div>
            </div>
          </div>
          <div
            class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center ml-5">
            <div class="flex flex-column align-items-center">
              <span class="pi pi-chart-bar"></span>
              <div class="name">
                <b>Nos Formations</b>
                <span>Spectacular Designs</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex row mt-5">
          <div
            class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
            <div class="flex flex-column align-items-center">
              <span class="pi pi-chart-bar"></span>
              <div class="name">
                <b>Templates</b>
                <span>Spectacular Designs</span>
              </div>
            </div>
          </div>
          <div
            class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center ml-5">
            <div class="flex flex-column align-items-center">
              <span class="pi pi-chart-bar"></span>
              <div class="name">
                <b>Votre besoin</b>
                <span>Spectacular Designs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/images/home.png"
         style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
