a {
  all: unset;
  display: contents;

  &:hover {
    cursor: pointer;
  }
}

.hero-box {
  border: 1px solid;
  border-color: var(--orange-100);
  border-radius: 5%;
  background-color: white;

  * {
    background-color: white;
  }

  .pi {
    font-size: 2rem;
    color: var(--orange-500);
  }

  .name {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;

    span {
      color: var(--surface-600);
      font-weight: 500;
    }
  }
}

.surface-section-mobile {
  //  zoom: 0.75;
  background-size: 0.75%;

  .title1 {
    font-size: 2rem !important;
  }

  .title2 {
    font-size: 2rem !important;
  }

  .card-mobile {
    margin-left: 0 !important;

    .row {
      justify-content: center;

      .hero-box {
        width: 7rem !important;
        height: 7rem !important;

        .pi {
          font-size: 1.3rem;
        }

        .name {
          position: relative;
          top: 5px;
          margin-top: 0;
          font-size: 0.6rem;
        }
      }
    }
  }

}
