<section class="mt-8">
  <app-section-home></app-section-home>
</section>

<section class="mt-8 mb-8">
  <app-section-quick-infos></app-section-quick-infos>
</section>

<section class="mt-8 mb-8">
  <app-carousel-horizontal></app-carousel-horizontal>
</section>

<section class="mt-8 mb-8">
  <app-section-text-icon [icon]="'pi pi-home'" [text]="'Avec plus de 30 années d’expérience professionnelle dans le domaine de la sécurité et de la protection de la santé des travailleurs, ainsi que plus de 20 ans d’expérience de chantier dans les interventions liées aux risques Amiante (SS3 et SS4) et aux risques plomb en tant que responsable d’entreprise, nos experts sont à votre écoute et peuvent vous accompagner tout au long de votre vie d’entreprise à tous les niveaux hiérarchiques. </br></br>Nous pouvons vous épauler dans la constitution de vos dossiers de certification en sous-section 3 Amiante, mais également pour une qualification dans tout autre domaine.'" [title]="'Présentation de notre structure'"></app-section-text-icon>
</section>
