<section class="pt-6 pb-6 section-calendar">
  <div class="block-content">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="border-orange-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
        Nos Formations
      </div>
      <div class="line-height-3 text-xl text-700 mb-5">
        Elles sont définies suivant les besoins exprimés.
        <br>
        <br>
        En effet, bien trop souvent, suite à une formation initiale, les personnes formées ne savent pas
        mettre en œuvre ce qu’elles ont appris.
        <br>
        Même en ayant toutes les connaissances en tête, l’application dans le monde réel est difficile.
      </div>
      <div class="mb-5">
        <p-tag value="Apprentissage" class="p-element mr-2"></p-tag>
        <p-tag value="Formation" severity="success" class="p-element mr-2"></p-tag>
        <p-tag value="Conaissances" severity="warning" class="p-element"></p-tag>
      </div>
      <div class="line-height-3 text-lg text-700 mb-4">Exemple :<br>
        La rédaction d’un PPSPS (Plan Particulier de Sécurité et Protection de la Santé), d’un Mode
        opératoire «amiante» en sous-section 4 ou aux risques «Plomb», de processus, de fiches de tâches,
        de phase opérationnelle, ou de Plan de Prévention et DUER (Document Unique, d’Evaluation des
        Risques).
      </div>
      <blockquote class="line-height-3 text-xl text-600 mb-4 py-0 mx-0 px-4">
        “Pour faire simple : Nous sommes là pour vous accompagner en formation pratique in situ.”
      </blockquote>
      <div class="line-height-3 text-lg text-700 mb-4"> Nous proposons également des formations courtes sur différents
        domaines :
      </div>
      <ul class="mb-4 text-lg ml-6 p-0">
        <li class="mb-3">Analyse des risques.</li>
        <li class="mb-3">AIPR.</li>
        <li class="mb-3">SST.</li>
        <li class="mb-3">Gestes et postures.</li>
        <li class="mb-3">PRAP IBC.</li>
        <li class="mb-3">H0vB0.</li>
        <li class="mb-3">Port de harnais de sécurité.</li>
        <li class="mb-3">Confinement thermo-soudé.</li>
        <li class="mb-3">Fit-test.</li>
      </ul>
      <div class="text-center mb-4"><img src="assets/images/home.png" alt="Image"
                                         class="w-full border-round"><span class="block text-700 line-height-3 mt-2">Image Formation SST.</span>
      </div>
      <div class="text-2xl text-900 mb-4">Finalité de la formation :</div>
      <div class="line-height-3 text-lg text-700 mb-4"> Permettre au stagiaire opérateur de chantier d’intervenir en
        sécurité lors de toute intervention
        susceptible de libérer des fibres d’amiante relevant de la sous-section 4 et d’assurer sa protection,
        celle des tiers et de l’environnement pour la gestion des déchets..
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-wrapper">
      <app-card-formation
        class="grid-item"
        [contentText]="'Permettre au stagiaire opérateur de chantier d\’intervenir en sécurité lors de toute intervention '+
      'susceptible de libérer des fibres d’amiante relevant de la sous-section 4 et d’assurer sa protection, ' +
       'celle des tiers et de l’environnement pour la gestion des déchets.'"
        [headerText]="'Gestion Déchets Amiante / Plomb :'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Formation Complémentaire Opérateur De Chantier'"></app-card-formation>

      <app-card-formation
        class="grid-item"
        [contentText]="'Permettre au stagiaire encadrant technique de rédiger un PPSPS en fonction d’une analyse de risques.'"
        [headerText]="'Formation Complémentaire Personnel Encadrant Technique :'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Rédaction d’un PPSPS'"></app-card-formation>

      <app-card-formation
        class="grid-item"
        [contentText]="'Mettre à jour les connaissances et compétences nécessaires à l’activité de SST'"
        [headerText]="'Formation Sauveteur Secouriste du Travail (SST)'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Formation initiale / continue'"></app-card-formation>

      <app-card-formation
        class="grid-item"
        [contentText]="'La formation-action PRAP est intégrée dans la dynamique de prévention (document unique) de l\'entreprise.'"
        [headerText]="'Formation de Prévention des Risques liés à l’Activité Physique (PRAP)'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Formation initiale / continue'"></app-card-formation>

      <app-card-formation
        class="grid-item"
        [contentText]="'Le candidat sera capable d’exécuter des opérations d’ordre non électrique dans un environnement à risques électrique.'"
        [headerText]="'Habilitation électrique HOv - BO'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Formation initiale / continue'"></app-card-formation>

      <app-card-formation
        class="grid-item"
        [contentText]="'Approfondir ses connaissances sur la règlementation liée aux travaux à proximité des réseaux'"
        [headerText]="'FORMATION A L’AIPR'"
        [imagePath]="'assets/images/logo.png'"
        [subHeaderText]="'Formation initiale'"></app-card-formation>
    </div>
  </div>
</section>
